@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: rgb(196, 135, 23);
}
.container {
  width: 500px;
  background: #fff;
  padding: 80px 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 30px 45px rgba(0, 0, 0, 0.418);
}
h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 2px;
  color: rgb(196, 135, 23);
}

.wrapper-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 70px 0;
  gap: 10px;
}
/* стиль текста внутри input */
.wrapper-1 input {
  width: 100%;
  font-size: 30px;
  font-weight: 500;
}

input {
  padding: 15px 10px;
  border: 1px solid gray;
  border-radius: 5px;
  color: #000;
  outline: none;
}

input:focus {
  border: 1.8px solid black;
}

label {
  color: #000;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.box {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.wrapper-2 input,
.wrapper-3 input {
  width: 100%;
  font-size: 16px;
}
